<div class="w-screen h-screen">

  <h1 class="text-white text-3xl">Here we can give a brief explanation of ipv4, binary, how it works, and how to use the tool provided to learn.</h1>
  <div class="flex items-center justify-center text-center mt-20">
    <%= link_to "New IPv4 quiz", new_ipv4_quiz_path, class: "border rounded p-2 bg-white"%>
  </div>
  
</div>
