<h1>New customer</h1>
<div>
  <%= render AlertComponent::Errors.new(@customer)%>
  <%= render "form", customer: @customer %>
</div>
<br />
<div>
  <%= link_to "Back to customers", admin_customers_path %>
</div>
