<div class="bg-primary-600 dark:bg-primary-800 p-2 sm:p-3 shadow-md flex flex-row flex-wrap items-center gap-2">
  
  <div class="flex flex-row">
  <%= link_to "<", admin_customers_path, class: "text-lg sm:text-xl font-medium text-white" %>
  <h1 class="text-lg sm:text-xl font-medium text-white">New Customer</h1>
  </div>
  


</div>
<div>
  <%= render AlertComponent::Errors.new(@customer)%>
  <%= render "form", customer: @customer, path: admin_customers_path %>
</div>
<br />
<div>
  <%= link_to "Back to customers", admin_customers_path %>
</div>
