<h1>
  This will be a partial for rendering the service reports on the service jobs page.
  This is different from the service reports index(if we will even have one). This partial
  will render the service reports that belong to a service job. Not all of the service reports.
</h1>

<div>
<ul>
<% @service_job.service_reports.each do |service_report| %>
  <li>Service report number: <%= servce_report.service_report_number %></li>
  <li>Serveice report belongs to <%= servce_report.service_job.service_job_number %></li>
<% end %>
</ul>

<div>
