<div>
  <h1>Service reports for Service Job number: <%= @service_job.job_number %></h1>
  <ul>
    <% @service_reports.each do |report| %>
      <li>
        <strong>Report ID:</strong> <%= report.id %> <br />
        <strong>Report number:</strong> <%= report.service_report_number %> <br />
        <%= link_to "View service report", admin_service_job_service_report_path(@service_job, id: report.id) %>
      </li>
      <br />
    <% end %>
  </ul>
</div>
