
<section class="bg-white dark:bg-gray-900"  data-controller="ipv4-quiz" >
  <div class="p-4">
    <div class=" flex items-center justify-center">
      <span id="totalBitValue" class="text-xl font-semibold">
        0
      </span>
    </div>
    <div class="mt-4 flex flex-wrap justify-center items-center gap-2">
      <div class="border rounded bg-red-200 w-20 lg:w-32" data-controller="ipv4-quiz">
        <button data-action="click->ipv4-quiz#updateBitValue" data-ipv4-quiz-target="bitButton" data-value1="128" data-value2="add" type="button" name="button" class="border p-2 rounded border-black text-black h-full w-full">0</button>
      </div>
      <div class="border rounded bg-red-200 w-20 lg:w-32" data-controller="ipv4-quiz">
        <button data-action="click->ipv4-quiz#updateBitValue" data-ipv4-quiz-target="bitButton" data-value1="64" data-value2="add" type="button" name="button" class="border p-2 rounded border-black text-black h-full w-full">0</button>
      </div>
      <div class="border rounded bg-red-200 w-20 lg:w-32" data-controller="ipv4-quiz">
        <button data-action="click->ipv4-quiz#updateBitValue" data-ipv4-quiz-target="bitButton" data-value1="32" data-value2="add" type="button" name="button" class="border p-2 rounded border-black text-black h-full w-full">0</button>
      </div>
      <div class="border rounded bg-red-200 w-20 lg:w-32" data-controller="ipv4-quiz">
        <button data-action="click->ipv4-quiz#updateBitValue" data-ipv4-quiz-target="bitButton" data-value1="16" data-value2="add" type="button" name="button" class="border p-2 rounded border-black text-black h-full w-full">0</button>
      </div>
      <div class="border rounded bg-red-200 w-20 lg:w-32" data-controller="ipv4-quiz">
        <button data-action="click->ipv4-quiz#updateBitValue" data-ipv4-quiz-target="bitButton" data-value1="8" data-value2="add" type="button" name="button" class="border p-2 rounded border-black text-black h-full w-full">0</button>
      </div>
      <div class="border rounded bg-red-200 w-20 lg:w-32" data-controller="ipv4-quiz">
        <button data-action="click->ipv4-quiz#updateBitValue" data-ipv4-quiz-target="bitButton" data-value1="4" data-value2="add" type="button" name="button" class="border p-2 rounded border-black text-black h-full w-full">0</button>
      </div>
      <div class="border rounded bg-red-200 w-20 lg:w-32" data-controller="ipv4-quiz">
        <button data-action="click->ipv4-quiz#updateBitValue" data-ipv4-quiz-target="bitButton" data-value1="2" data-value2="add" type="button" name="button" class="border p-2 rounded border-black text-black h-full w-full">0</button>
      </div>
      <div class="border rounded bg-red-200 w-20 lg:w-32" data-controller="ipv4-quiz">
        <button data-action="click->ipv4-quiz#updateBitValue" data-ipv4-quiz-target="bitButton" data-value1="1" data-value2="add" type="button" name="button" class="border p-2 rounded border-black text-black h-full w-full">0</button>
      </div>
    </div>
  </div>
</section>
