<div class="w-full border border-black">
  <p> Header </p>
  <h1>New customer</h1>
</div>
  <div>
  <%= render "form", customer: @customer %>
  </div>
  <br>
  <div>
    <%= link_to "Back to customers", customers_path, data: {controller: :stimulus_controller, turbo_method: :delete}%>
  </div>
</div>
