/* slim select override */
/* Light mode styles */
.ss-main {
  font-size: .875rem;
  line-height: 1.25rem;
  height: 42px;
  background-color: #f9fafb;
  border-radius: .5rem;
  border-color: #d1d5db;
  border-width: 1px;
}

.ss-main .ss-single-selected {
  height: 200px;
  padding: 20px 24px;
}

.ss-main .ss-content .ss-list {
  padding: 5px 0;
}

.ss-main .ss-content .ss-list .ss-option {
  padding: 15px 24px;
}

.ss-main .ss-single-selected .placeholder,
.ss-main .ss-single-selected .placeholder * {
  overflow: visible;
}

.ss-main strong + sup {
  margin-left: 1ch;
  text-transform: uppercase;
  font-size: 0.5em;
  top: -0.9em;
}

/* Content container */
.ss-content {
  position: absolute;
  /* default position */
  display: flex;
  height: auto;
  flex-direction: column;
  width: auto;
  max-height: var(--ss-content-height);
  box-sizing: border-box;
  border: solid 1px var(--ss-border-color);
  background-color: var(--ss-bg-color);
  transition: transform var(--ss-animation-timing), opacity var(--ss-animation-timing);
  opacity: 0;
  transform: scaleY(0);
  transform-origin: center top;
  overflow: hidden;
  z-index: 10000;
}

/* dark mode */
.ss-main.dark {
  font-size: .875rem;
  line-height: 1.25rem;
  height: 42px;
  background-color: #374151;
  border-radius: .5rem;
  border-color: #4B5563;
  border-width: 1px;
  color: white;
}

.ss-main.dark .ss-single-selected {
  height: 200px;
  padding: 20px 24px;
  background-color: #374151;
}

.ss-main.dark .ss-content .ss-list {
  padding: 5px 0;
}

.ss-main.dark .ss-content .ss-list .ss-option {
  padding: 15px 24px;
}

.ss-main.dark .ss-single-selected .placeholder,
.ss-main.dark .ss-single-selected .placeholder * {
  overflow: visible;
}

.ss-main.dark strong + sup {
  margin-left: 1ch;
  text-transform: uppercase;
  font-size: 0.5em;
  top: -0.9em;
}

.ss-main.dark .ss-arrow {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 0 1 auto;
  width: 12px;
  height: 12px;
  margin: auto var(--ss-spacing-m) auto var(--ss-spacing-m);
}

.ss-main.dark .ss-arrow path {
  fill: white !important;
  stroke: white !important;
  stroke-width: 18;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition-timing-function: ease-out;
  transition: fill var(--ss-animation-timing), stroke var(--ss-animation-timing);
}

.ss-content.dark {
  position: absolute;
  display: flex;
  height: auto;
  flex-direction: column;
  width: auto;
  max-height: var(--ss-content-height);
  box-sizing: border-box;
  border: solid 1px var(--ss-border-color);
  border-color: #475569;
  background-color: #374151;
  transition: transform var(--ss-animation-timing), opacity var(--ss-animation-timing);
  opacity: 0;
  transform: scaleY(0);
  transform-origin: center top;
  overflow: hidden;
  z-index: 10000;
}

.ss-content.dark.ss-relative {
  position: relative;
  height: 100%;
}

.ss-content.dark.ss-open-above {
  flex-direction: column-reverse;
  opacity: 1;
  transform: scaleY(1);
  transform-origin: center bottom;
  border-top-left-radius: var(--ss-border-radius);
  border-top-right-radius: var(--ss-border-radius);
}

.ss-content.dark.ss-open-below {
  opacity: 1;
  transform: scaleY(1);
  transform-origin: center top;
  border-bottom-left-radius: var(--ss-border-radius);
  border-bottom-right-radius: var(--ss-border-radius);
}

.ss-content.dark .ss-search {
  flex: 0 1 auto;
  display: flex;
  flex-direction: row;
  padding: var(--ss-spacing-l) var(--ss-spacing-l) var(--ss-spacing-m) var(--ss-spacing-l);
  background-color: #2d3748;
  color: white;
}

.ss-content.dark .ss-search input {
  display: inline-flex;
  font-size: inherit;
  line-height: inherit;
  flex: 1 1 auto;
  width: 100%;
  min-width: 0px;
  padding: var(--ss-spacing-m) var(--ss-spacing-l);
  margin: 0;
  border: 1px solid var(--ss-border-color);
  border-color: #475569;
  border-radius: var(--ss-border-radius);
  background-color: #2d3748;
  color: white;
  outline: 0;
  text-align: left;
  box-sizing: border-box;
}

.ss-content.dark .ss-search input::placeholder {
  color: white;
  vertical-align: middle;
}

.ss-content.dark .ss-search input:focus {
  box-shadow: 0 0 5px var(--ss-primary-color);
}

.ss-content.dark .ss-list {
  flex: 1 1 auto;
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
}

.ss-content.dark .ss-list .ss-option {
  display: flex;
  padding: var(--ss-spacing-m) var(--ss-spacing-l) var(--ss-spacing-m) var(--ss-spacing-l);
  color: white;
  cursor: pointer;
  user-select: none;
}

.ss-content.dark .ss-list .ss-option:hover {
  color: var(--ss-bg-color);
  background-color: var(--ss-primary-color);
}

.ss-content.dark .ss-list .ss-option.ss-highlighted,
.ss-content.dark .ss-list .ss-option:not(.ss-disabled).ss-selected {
  color: var(--ss-bg-color);
  background-color: var(--ss-primary-color);
}

.ss-content.dark .ss-list .ss-option.ss-disabled {
  cursor: not-allowed;
  background-color: var(--ss-disabled-color);
}

.ss-content.dark .ss-list .ss-option.ss-disabled:hover {
  color: var(--ss-font-color);
}

.ss-content.dark .ss-list .ss-option .ss-search-highlight {
  background-color: var(--ss-highlight-color);
}



